# Step 1. Download the data and prepare it for analysis

## Project description
As an internship in the analytical department at Yandex.Afisha our first task is to help optimize marketing expenses.

## Import

In [53]:
try:
    !pip install -U plotly==5.5.0
    import plotly.express as px
except:
    !pip install plotly==5.5.0 #installing plotly
    import plotly.express as px

Requirement already satisfied: plotly==5.5.0 in c:\users\nirga\anaconda3\lib\site-packages (5.5.0)
Requirement already satisfied: six in c:\users\nirga\anaconda3\lib\site-packages (from plotly==5.5.0) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\nirga\anaconda3\lib\site-packages (from plotly==5.5.0) (8.0.1)

In [54]:
pip install sidetable

Requirement already satisfied: sidetable in c:\users\nirga\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: pandas>=1.0 in c:\users\nirga\anaconda3\lib\site-packages (from sidetable) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\nirga\anaconda3\lib\site-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\nirga\anaconda3\lib\site-packages (from pandas>=1.0->sidetable) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\nirga\anaconda3\lib\site-packages (from pandas>=1.0->sidetable) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\nirga\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0->sidetable) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd
import numpy as np
import plotly.express as px
from scipy import stats as st
import matplotlib.pyplot as plt
import sidetable

%matplotlib inline

## Load data

In [56]:
try:
    visits = pd.read_csv('visits_log_us.csv')
except:
    visits = pd.read_csv('/datasets/visits_log_us.csv')

try:
    orders = pd.read_csv('orders_log_us.csv')
except:
    orders = pd.read_csv('/datasets/orders_log_us.csv')
    
try:
    costs = pd.read_csv('costs_us.csv')
except:
    costs = pd.read_csv('/datasets/costs_us.csv')

## prepare data for analysis

### visits

The visits table (server logs with data on website visits):
- Uid — user's unique identifier
- Device — user's device
- Start Ts — session start date and time
- End Ts — session end date and time
- Source Id — identifier of the ad source the user came from

In [57]:
visits.head()

,Device,End Ts,Source Id,Start Ts,Uid
0,touch,2017-12-20 17:38:00,4,2017-12-20 17:20:00,16879256277535980062
1,desktop,2018-02-19 17:21:00,2,2018-02-19 16:53:00,104060357244891740
2,touch,2017-07-01 01:54:00,5,2017-07-01 01:54:00,7459035603376831527
3,desktop,2018-05-20 11:23:00,9,2018-05-20 10:59:00,16174680259334210214
4,desktop,2017-12-27 14:06:00,3,2017-12-27 14:06:00,9969694820036681168

In [58]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Device     359400 non-null  object
 1   End Ts     359400 non-null  object
 2   Source Id  359400 non-null  int64
 3   Start Ts   359400 non-null  object
 4   Uid        359400 non-null  uint64
dtypes: int64(1), object(3), uint64(1)
memory usage: 13.7+ MB

In [59]:
visits['Device'].value_counts()

desktop    262567
touch       96833
Name: Device, dtype: int64

In [60]:
visits['Device'] = visits['Device'].astype('category')

In [61]:
visits['Start Ts'] =  pd.to_datetime(visits['Start Ts'], format="%Y-%m-%d %H:%M:%S")
visits['End Ts'] =  pd.to_datetime(visits['End Ts'], format="%Y-%m-%d %H:%M:%S")

In [62]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Device     359400 non-null  category
 1   End Ts     359400 non-null  datetime64[ns]
 2   Source Id  359400 non-null  int64
 3   Start Ts   359400 non-null  datetime64[ns]
 4   Uid        359400 non-null  uint64
dtypes: category(1), datetime64[ns](2), int64(1), uint64(1)
memory usage: 11.3 MB

Reduced +2MB and format data type

### orders

The orders table (data on orders):
- Uid — unique identifier of the user making an order
- Buy Ts — order date and time
- Revenue — Yandex.Afisha's revenue from the order

In [63]:
orders.head()

                Buy Ts  Revenue                   Uid
0  2017-06-01 00:10:00    17.00  10329302124590727494
1  2017-06-01 00:25:00     0.55  11627257723692907447
2  2017-06-01 00:27:00     0.37  17903680561304213844
3  2017-06-01 00:29:00     0.55  16109239769442553005
4  2017-06-01 07:58:00     0.37  14200605875248379450

In [64]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Buy Ts   50415 non-null  object
 1   Revenue  50415 non-null  float64
 2   Uid      50415 non-null  uint64
dtypes: float64(1), object(1), uint64(1)
memory usage: 1.2+ MB

In [65]:
orders['Buy Ts'] =  pd.to_datetime(orders['Buy Ts'], format="%Y-%m-%d %H:%M:%S")

In [66]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Buy Ts   50415 non-null  datetime64[ns]
 1   Revenue  50415 non-null  float64
 2   Uid      50415 non-null  uint64
dtypes: datetime64[ns](1), float64(1), uint64(1)
memory usage: 1.2 MB

Reduced size by portion and format data type

### costs

The costs table (data on marketing expenses):
- source_id — ad source identifier
- dt — date
- costs — expenses on this ad source on this day

In [67]:
costs.head()

   source_id          dt  costs
0          1  2017-06-01  75.20
1          1  2017-06-02  62.25
2          1  2017-06-03  36.53
3          1  2017-06-04  55.00
4          1  2017-06-05  57.08

In [68]:
costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   source_id  2542 non-null   int64
 1   dt         2542 non-null   object
 2   costs      2542 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 59.7+ KB

In [69]:
costs['dt'] =  pd.to_datetime(costs['dt'], format="%Y-%m-%d")

In [70]:
costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   source_id  2542 non-null   int64
 1   dt         2542 non-null   datetime64[ns]
 2   costs      2542 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 59.7 KB

Reduced size by portion and format data type

# Step 2. Make reports and calculate metrics:

## Product

### How many people use it every day, week, and month?

### How many sessions are there per day? (One user might have more than one session.)

### What is the length of each session?

### How often do users come back?

## Sales

### When do people start buying?
In KPI analysis, we're usually interested in knowing the time that elapses between registration and conversion — when the user becomes a customer. For example, if registration and the first purchase occur on the same day, the user might fall into category Conversion 0d. If the first purchase happens the next day, it will be Conversion 1d. You can use any approach that lets you compare the conversions of different cohorts, so that you can determine which cohort, or marketing channel, is most effective.

### How many orders do they make during a given period of time?

### What is the average purchase size?

### How much money do they bring? (LTV)

## Marketing

### How much money was spent? Overall/per source/over time

### How much did customer acquisition from each of the sources cost?

### How worthwhile where the investments? (ROI)